@model MoviesApp.ViewModels.NewCustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Cusomter</h2>
@using (Html.BeginForm("Create", "Customer"))
{
    <div class="form-group">
        @Html.LabelFor(m=>m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new {@class="form-control"})
    </div>
     <div class="form-group">
        <label>Date of Birth</label>
        @Html.TextBoxFor(m => m.Customer.BirthDate, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m=>m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m=>m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id","Name"), "Select Membership Type ", new {@class="form-control"})
    </div>
    
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m=>m.Customer.IsSubscirbedToNewsLetter) Subscribed to Newsletter?
        </label>
    </div>
}

